.exemplo2,img{
    width: 500px;
    position: relative;
    left: 300px;
}
.downloadcall{
    color: white;
    text-align: center;
    position: relative;
    top: -350px;
    left: 200px;
}
#down{
    position: relative;
    top: 100px;
    margin-bottom: 200px;
}
#btn_download, button{
    background-color: #0E394F;
    color: #E3EFF6;
    border-radius: 20px;
    width: 190px;
    height: 63px;
    font-size: 17px;
    font-family: "Unbounded", sans-serif;
}
#ak{
    position: relative;
    left: 100px;
}